# EmailJS
REACT_APP_EMAIL_SERVICE_ID=your_service_id
REACT_APP_TEMPLATE_ID=your_template_id
REACT_APP_PUBLIC_KEY=your_public_key
REACT_APP_TO_EMAIL=okhalouki47@gmail.com

# RapidAPI — Email validation
REACT_APP_RAPIDAPI_HOST=mailok-email-validation.p.rapidapi.com
REACT_APP_RAPIDAPI_KEY=your_rapidapi_key
